<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微盘营业部加盟人员管理系统</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Font-Awesome/css/font-awesome.min.css" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="/scripts/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/scripts/js/hideshow.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.equalHeight.js" type="text/javascript"></script>

    <style>
        a .fa{
            color:#000;
        }

        #sidebar .toggle .icon a{
            padding-left: 12px;
        }
    </style>
</head>

<body>
<!--header开始-->
<header id="header">
    <hgroup>
        <h1 class="site_title"><a href="index.html">微盘营业部加盟用户信息管理系统</a></h1>
    </hgroup>
</header>
<!--header结束-->

<section id="secondary_bar">
    <div class="user">
        <p>admin</p>
        <!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
    </div>
    <div class="breadcrumbs_container">
        <article class="breadcrumbs"><a href="index.html">Website Admin</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
    </div>
</section><!-- end of secondary bar -->

<aside id="sidebar" class="column">
    <form class="quick_search">
        <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
    </form>
    <hr/>
    <h3>用户信息管理</h3>
    <ul class="toggle">
        <li class="icn_new_article"><a href="#">用户信息管理</a></li>
    </ul>

    <footer>
        <hr />
        <p><strong>Copyright &copy; 2016 Website Admin</strong></p>
        <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
    </footer>
</aside><!-- end of sidebar -->

<section id="main" class="column">

    <h4 class="alert_info">Welcome to the free MediaLoot admin panel template, this could be an informative message.</h4>


    <article class="module width_3_quarter">
        <header><h3 class="tabs_involved">用户信息管理</h3>
            <ul class="tabs">
                <li><a href="#tab1">Posts</a></li>
                <li><a href="#tab2">Comments</a></li>
            </ul>
        </header>

        <div class="tab_container">
            <div id="tab1" class="tab_content">
                <table id="userInfoTable" class="tablesorter" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>公司全称</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>QQ/微信号</th>
                            <th>加盟城市</th>
                            <th>操作<a title="添加" onclick="addUserInfo(this)"><img src="/images/icn_add_user.png"/></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach($user in $userList)
                        <tr>
                            <!--隐藏域：用户id-->
                            <input type="hidden" value="$user.id"></input>
                            <td><input type="checkbox"></td>
                            <td>$!user.companyName</td>
                            <td>$!user.contactName</td>
                            <td>$!user.telNum</td>
                            <td>$!user.wxNum</td>
                            <td>$!user.cityName</td>
                            <td>
##                                data-toggle="modal" data-target="#myModal"
                                <a title="编辑" onclick="editUserInfo(this)"><i class="fa fa-edit fa-lg"></i></a>&nbsp;
                                <a title="删除" onclick="deleteUserInfo(this)"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div><!-- end of #tab1 -->

            <!--modal模态框--start-->
            <div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">用户信息编辑</h4>
                        </div>
                        <div class="modal-body">
                            <span class="help-block"><div style="width: 100px">公司全称：</div><input id="companyNameInput" type="text"/></span>
                            <span class="help-block"><div>联系人：</div>  <input id="contactNameInput" type="text"/></span>
                            <span class="help-block"><div>联系电话：</div><input id="telNumInput" type="text"/></span>
                            <span class="help-block"><div>QQ/微信号：</div><input id="wxNumInput" type="text"/></span>
                            <span class="help-block"><div>加盟城市：</div><input id="cityNameInput" type="text"/></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" id="submitBtn" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal模态框--end-->

        </div><!-- end of .tab_container -->

    </article><!-- end of content manager article -->

    <div class="clear"></div>
    <div class="spacer"></div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $(".tablesorter").tablesorter();
    });
    $(document).ready(function() {
        //页面加载时
        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //点击事件
        $("ul.tabs li").click(function() {
            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content

            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active ID content
            return false;
        });

    });

    $(function(){
        $('.column').equalHeight();
    });

    var userId;
    //编辑用户信息
    function editUserInfo(msg) {
        //获取userId
        userId = $(msg).parents("tr").find("input").val();

        $("#userInfoModal").modal('show');

        $("#companyNameInput").val($(msg).parents("tr").find("td").eq(1).text());
        $("#contactNameInput").val($(msg).parents("tr").find("td").eq(2).text());
        $("#telNumInput").val($(msg).parents("tr").find("td").eq(3).text());
        $("#wxNumInput").val($(msg).parents("tr").find("td").eq(4).text());
        $("#cityNameInput").val($(msg).parents("tr").find("td").eq(5).text());
    }

    //删除用户信息
    function deleteUserInfo(msg) {
        if(confirm("确定要删除该用户吗？")) {
            //获取userId
            var userId = $(msg).parents("tr").find("input").val();
            $.ajax({
                type: "POST",
                url: "/petrouser/deletePetroUserById",
                dataType: "json",
                data: {
                    "userId" : userId
                },
                success: function(data) {
                    console.log(data);
                    if(data == 1){
                        alert("删除信息更新成功");
                        $("#userInfoModal").modal('hide');
                    }
                    window.location.reload();
                },
                error: function(e) { //服务器响应失败处理函数
                    alert("删除用户信息失败");
                    console.log(e);
                }
            });
        }
    }

    //添加新用户信息
    function addUserInfo() {
        $("#userInfoModal").modal('show');
        $("#nameInput").val("");
        $("#ageInput").val("");
        $("#emailInput").val("");
    }

    //提交
    $("#submitBtn").on("click", function() {
        var companyName = $("#companyNameInput").val();
        var contactName = $("#contactNameInput").val();
        var telNum = $("#telNumInput").val();
        var wxNum = $("#wxNumInput").val();
        var cityName = $("#cityNameInput").val();
        //根据userId存在与否判断是“编辑-提交”还是“添加-提交”
        if(userId != null && userId != "") {
            $.ajax({
                type: "POST",
                url: "/petrouser/updatePetroUserInfoById",
                dataType: "json",
                data: {
                    "userId": userId,
                    "companyName": companyName,
                    "contactName": contactName,
                    "telNum": telNum,
                    "wxNum": wxNum,
                    "cityName": cityName
                },
                success: function(data) {
                    console.log(data);
                    if(data == 1){
                        alert("用户信息更新成功");
                        $("#userInfoModal").modal('hide');
                    }
                    window.location.reload();
                },
                error: function(e) { //服务器响应失败处理函数
                    alert("更新用户信息失败");
                    console.log(e);
                }
            });
        }else {
            $.ajax({
                type: "POST",
                url: "/petrouser/addNewPetroUser",
                dataType: "json",
                data: {
                    "companyName": companyName,
                    "contactName": contactName,
                    "telNum": telNum,
                    "wxNum": wxNum,
                    "cityName": cityName
                },
                success: function(data) {
                    console.log(data);
                    if(data == 1){
                        alert("新用户添加成功");
                        $("#userInfoModal").modal('hide');
                    }
                    window.location.reload();
                },
                error: function(e) { //服务器响应失败处理函数
                    alert("添加新用户失败");
                    console.log(e);
                }
            });
        }
    });
</script>
</body>
</html>